<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.classic.AsyncAppender"/>
    <import class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>

    <appender name="STDOUT" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <pattern>%highlight(%-5level) %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCSTDOUT" class="AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="play" level="INFO"/>
    <logger name="application" level="INFO"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="httpclient" level="WARN"/>
    <logger name="models" level="INFO"/>
    <logger name="controllers" level="DEBUG"/>
    <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF"/>
    <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF"/>
    <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF"/>
    <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF"/>
    <logger name="ru.yandex.clickhouse.ClickHouseDriver" level="OFF"/>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="OFF"/>
    <logger name="com.sksamuel.elastic4s.http.ResponseHandler" level="INFO"/>
    <logger name="akka" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="ASYNCSTDOUT"/>
    </root>
    <shutdownHook class="DelayingShutdownHook"/>
</configuration>