@import models.entities.Configuration.Meta

@(metadata: Meta)

@main("opentargets platform api beta") {
    <h1>Open Targets Platform API BETA</h1>

    <p>GraphQL <a href="/api/v4/graphql">endpoint</a></p>
    <p>GraphQL endpoint <a href="/api/v4/graphql/schema">schema</a></p>
    <p>GraphQL endpoint <a href="/api/v4/graphql/browser">browser (GraphQL Playground)</a></p>

    <div style="position: absolute; bottom: 0 ">
        <p>Data: @(s"${metadata.dataVersion.year}-${metadata.dataVersion.month}-${metadata.dataVersion.iteration}")</p>
        <p>API: @(s"${metadata.apiVersion.x}-${metadata.apiVersion.y}-${metadata.apiVersion.z}")</p>
    </div>

}
